@import '@Packages/common/sass-mixins/containerMixins.scss';
@import '@Packages/common/sass-mixins/gridMixins.scss';

.page {
    @include maxContainer(85%);
    @include autoGridContainer(1rem, auto, repeat(auto-fill, minmax(250px, 1fr)));
    justify-items: center;
    padding: 6rem 1.5rem 3rem 1.5rem;
}
