.control {
    display: flex;
    flex-direction: column;
    .inputcontainer {
        align-items: center;
        display: flex;
        .input {
            width: 97%;
        }
    }
    .errorcontainer {
        .error {
            margin-top: 0.3rem;
            color: #ff5766;
        }
    }
}