.button {
    border-radius: 50px;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.125;
    padding: 1rem 1.3rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    user-select: none;
    vertical-align: middle;
}
